.badge {
  background-color: tomato;
  border-radius: 50%;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5px) rotateY(360deg);
  }

  100% {
    transform: none;
  }
}
